/* Base for card */
.card {

  display: block;
  width: 96%;
  min-height: 100px;
  border-radius: 15px;
  background-color: $white;
  padding: 5px 10px 0px 10px;
  margin-bottom: 10px;
  min-height: 115px;

  &.intro {
    width: 90%;
    text-align:center;
    margin-top: 20px;
  }

  &.interior {
    padding: 15px 20px 10px 20px;
  }

}

.item {

  color: $black;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  p {
    width: 120px;
    margin-left: 25px;
  }

  &:last-child {
    margin-bottom: 30px;
  }

}

/* Card item */
.full {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.card_ct {
  @extend .card;
  overflow: hidden;
  background-color: $initial;
  padding: 0;
  position: relative;
  height: 90px;
  z-index: 50;
  margin: 0 auto;
  margin-bottom: 10px;
  transition: all 300ms ease-out;

  &.remove {
    transform: translate3d(-100%, 0, 0);
  }

}

.card_main {
  border-radius: 15px;
  @extend .full;
  z-index: 10;
  transform: translate3d(0, 0, 0);
  background-color: $white;
  padding: 10px 20px 5px 20px;

}

.card_down {
  @extend .full;
  z-index: 9;

  &.delete {
    border-radius: 15px;
    background-color:#e64d35;
    color: #fff;
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;

  }

  img {
    margin-bottom: 5px;
  }

}


.card.table {
  padding: 10px 20px 5px 20px;
}
