@import 'normalizer';

/* You can add global styles to this file, and also import other style files */


$background: #bdd0d2;
$black: #225378;
$initial: #1695a3;
$initial10: #acf0f2;
$white: #fff;

html {
  width: 100%;
  height: 100%;
  text-size-adjust: 100%;
  background-color: $background;
}

body, div {
  box-sizing: border-box;
}

body {
  color: $initial;
  font-family: -apple-system, "Roboto", "Helvetica Neue", sans-serif;
  margin: 0px;
  position:relative;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;

}

h1,h2,h3,h4 {
  font-weight: normal;
  margin-bottom: 0px;
}

#app {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.view {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  will-change: transform;
}


@import 'parts/layout';
@import 'parts/cards';
@import 'parts/addtrack';
@import 'parts/reload';
@import 'parts/preload';


app-track-time, app-track-counter {
  display: block;
  box-sizing: border-box;
  position: relative;
  height: 105px;
}

.card_icon {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0px;
  top: 0px;
}


h3.card_title {
  position: absolute;
  margin-top: 0px;
  text-transform: uppercase;
  color: $black;
}

.record {
  position: absolute;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  top: 28px;
  left: 0px;
  background-color: $initial10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .btn {
    display: block;
    width: 50%;
    height: 50%;
  }

  .btn_small {
    display: block;
    width: 40%;
    height: 40%;
  }

}


app-record-button {
  display: block;
  div {
    background-color: $initial;
    width: 100%;
    height: 100%;
    transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  }
}

.amount {

  position: absolute;
  top: 28px;
  right: 0px;
  font-size: 34px;
  color: $black;

  &.today {
    font-size: 1em;
    top: 70px;
    color: $initial;
    right: 2px;
  }

}

.record-start {
  width: 45px;
  text-align:center;
  position: absolute;
  top: 65px;
  left: 0px;
  font-size: 0.8em;
}


.stats {
  p {
    border-bottom: 1px solid #eaeaea;
    position: relative;

    span {
      position: absolute;
      right: 0px;
      color: $black;
      font-weight: bold;
    }

  }
}

.center {
  text-align: center;
}

.card button {
  margin-top: 15px;
  font-size: 1.1em;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: $initial;
  color: $white;
}

.table {
  h3 {
    text-align: center;
    color: $black;
  }
  min-height: auto;
}







