<!DOCTYPE html>
<html>
<head>
  <% for (var chunk in htmlWebpackPlugin.files.css) { %>
    <link rel="preload" href="<%= htmlWebpackPlugin.files.css[chunk] %>"  as="style">
  <% } %>
  <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
    <link rel="preload" href="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>" as="script">
  <% } %>
  <meta charset="utf-8">
  <base href="/">
  <title>Tracks PWA. Track things</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
  <meta name="description" content="Track things. track all!">
  <meta name="msapplication-TileColor" content="#1695a3">
  <meta name="msapplication-TileImage" content="./assets/img/icon150x150.png">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="apple-mobile-web-app-title" content="Tracks">
  <meta name="application-name" content="Tracks time">
  <meta name="format-detection" content="telephone=no">
  <meta name="theme-color" content="#1695a3">
  <link rel="apple-touch-icon" sizes="180x180" href="./assets/img/icon180x180.png">
  <link rel="icon" type="image/png" href="./assets/icon32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/assets/img/icon16x16.png" sizes="16x16">
  <link rel="manifest" href="./manifest.json">

  <style>
  audio,canvas,progress,video{vertical-align:baseline}audio:not([controls]){display:none;height:0}b,strong{font-weight:700}img{max-width:100%;border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{height:1px;border-width:0;box-sizing:content-box}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}input,label,select,textarea{font-family:inherit;line-height:normal}textarea{overflow:auto;height:auto;font:inherit;color:inherit}textarea::-webkit-input-placeholder{padding-left:2px}textarea::-moz-placeholder{padding-left:2px}textarea:-ms-input-placeholder{padding-left:2px}textarea::placeholder{padding-left:2px}form,input,optgroup,select{margin:0;font:inherit;color:inherit}html input[type=button],input[type=reset],input[type=submit]{cursor:pointer;-webkit-appearance:button}[tappable],[tappable] div,[tappable] ion-icon,[tappable] ion-label,[tappable] span,a,a div,a ion-icon,a ion-label,a span,button,button div,button ion-icon,button ion-label,button span,input,textarea{-ms-touch-action:manipulation;touch-action:manipulation}a ion-label,button ion-label{pointer-events:none}button{border:0;font-family:inherit;font-style:inherit;font-variant:inherit;line-height:1;text-transform:none;-webkit-appearance:button}[tappable],button{cursor:pointer}a[disabled],button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0}input[type=checkbox],input[type=radio]{padding:0;box-sizing:border-box}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}button:focus,input:focus,select:focus,textarea:focus{outline:none}html{width:100%;height:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;text-size-adjust:100%;background-color:#bdd0d2}body,div{box-sizing:border-box}body{color:#1695a3;font-family:-apple-system,Roboto,Helvetica Neue,sans-serif;margin:0;position:relative;height:100%;overflow:hidden;overflow-y:auto}h1,h2,h3,h4{font-weight:400;margin-bottom:0}#app{position:relative;width:100%;height:100%;overflow:hidden}.view{position:absolute;top:0;right:0;left:0;bottom:0;will-change:transform}.view,header{display:block}header{background-color:currentColor;border-radius:0 0 30px 30px;height:120px;position:relative}header h1{font-size:1.5em;box-sizing:border-box;color:#fff;padding-top:20px;margin-top:0;margin-bottom:50px;font-weight:400;text-align:center}

  </style>
</head>
<body>
<div id="app">
  <header><h1>Tracks</h1></header>
  <div class="wrap fb loading" style="padding-top: 50%; text-align:center">
    <p>Loading ...</p>
  </div>
</div>
</body>
</html>
