<!DOCTYPE html>
<html>
<head>
	<% for (var chunk in htmlWebpackPlugin.files.css) { %>
		<link rel="preload" href="<%= htmlWebpackPlugin.files.css[chunk] %>"  as="style">
	<% } %>
	<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
		<link rel="preload" href="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>" as="script">
	<% } %>
	<meta charset="utf-8">
  <base href="/">
	<title>Tracks PWA. Track things</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
	<meta name="description" content="Track things. track all!">
	<meta name="msapplication-TileColor" content="#1695a3">
	<meta name="msapplication-TileImage" content="./assets/img/icon150x150.png">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="apple-mobile-web-app-title" content="Tracks">
	<meta name="application-name" content="Tracks time">
	<meta name="format-detection" content="telephone=no">
	<meta name="theme-color" content="#1695a3">
	<link rel="apple-touch-icon" sizes="180x180" href="./assets/img/icon180x180.png">
	<link rel="icon" type="image/png" href="./assets/icon32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/assets/img/icon16x16.png" sizes="16x16">
	<link rel="manifest" href="./manifest.json">
</head>
<body>
<div>Tracks. Track time, or whatever. (loading...)</div>
</body>
</html>
